.banner{
    background-image: radial-gradient(#183876,#0c0a3e);

    
    
    
    height: 550px;
    width: 100%;
    
    
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    width:100px;
    border-radius: 100px;

    
}
.text{
    font-size: 50px;
    font-weight:bolder;
    
    
    
}
.btn{
    margin-top: 40px;
    background: #ffbb00;
    padding: 20px;
    border-radius:99rem;
    border: 1px solid #ffbe0c;
    font-weight:bolder;
  
    font-size:large;
    transition: 0.5s ;
    

   
    
    
}

.btn:hover{
    
    background-color: crimson;
    border: 1px solid crimson;
    transform:translate(1px,4px);
    color:white
}

@media only screen and (max-width: 600px) {
    .logo{
        margin-bottom: 50px;
        
    }
    
     .banner{

         
    height: 700px;
    width: 100%;
    
     }

  }