.logo{
  width: 100px;
  margin-left:50px;
}
.link{
  text-decoration:none;
  
}
.nav-item {
  font-size:large;
  font-weight:600;
  color: white;
  margin-left: 50px;
  transition: 0.5s;
  
  
}
.nav-item:hover{
  color: #ffbb00;
  transform:translate(1px,3px);
}

@media only screen and (max-width: 600px) {

  .nav-item{
    margin-right: 40px;
  }
  .logo{
    margin-right:35px ;
  }

}
